---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Page not found'>
  <div class='mt-10 flex h-[calc(100vh-64px)] flex-col items-center gap-20 p-6'>
    <h1 class='font-antonio text-9xl text-white md:text-[192px]'>404</h1>
    <h1 class='text-center font-antonio text-5xl text-white md:text-7xl'>
      We are very sorry, but this planet was not discovered yet
    </h1>
  </div>
</Layout>
