---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout title='Welcome to Astro.'>
  <Main />
  <div class='font-antonio'>Hello this is Antonio</div>
</Layout>
