---
import Button from './Button.astro';
---

<div class='hidden md:flex flex-col gap-4' id='ButtonsContainer'>
  <Button name='overview' index='01' state='Overview' active />
  <Button name='internal structure' index='02' state='Structure' active={false} />
  <Button name='surface geology' index='03' state='Surface' active={false} />
</div>
