---
import IconHamburger from '../icons/IconHamburger.astro';
import data from '../utils/data.json';
---

<header
  class='flex items-center justify-between self-stretch border-b border-white border-opacity-20 px-6 py-4 md:flex-1 md:flex-col md:gap-10 md:px-13 md:pb-7 md:pt-8 2xl:flex-row 2xl:items-center 2xl:justify-between 2xl:px-8 2xl:pt-6'
>
  <a
    class='font-antonio text-[28px] uppercase leading-[normal] -tracking-[1.05px] text-white'
    href='/planet/Mercury'
  >
    The Planets
  </a>
  <button id='menuToggle' class='flex text-white md:hidden' transition:persist>
    <IconHamburger />
  </button>
  <div class='hidden items-center justify-between self-stretch md:flex 2xl:justify-start 2xl:gap-8'>
    {
      data.map((planet) => (
        <a
          href={`/planet/${planet.name}`}
          class='text-[13px] uppercase leading-[25px] tracking-[2px] text-white opacity-75'
        >
          {planet.name}
        </a>
      ))
    }
  </div>
</header>

<script>
  const menuToggle = document.getElementById('menuToggle')!;
  const menu = document.getElementById('mobileMenu')!;

  document.addEventListener('astro:page-load', () => {
    menuToggle.classList.add('text-white');
    menuToggle.classList.remove('text-[#454559]');
    document.body.classList.remove('menu-open');
    menu.classList.add('hidden');
    menu.classList.remove('flex');
  });

  menuToggle.addEventListener('click', () => {
    document.body.classList.toggle('menu-open');

    if (document.body.classList.contains('menu-open')) {
      menuToggle.classList.add('text-[#454559]');
      menuToggle.classList.remove('text-white');
      menu.classList.remove('hidden');
      menu.classList.add('flex');
    } else {
      menuToggle.classList.add('text-white');
      menuToggle.classList.remove('text-[#454559]');
      menu.classList.add('hidden');
      menu.classList.remove('flex');
    }
  });
</script>
