---
import IconHamburger from '../icons/IconHamburger.astro';
---

<header
  class='flex px-6 py-4 justify-between items-center self-stretch border-b border-white border-opacity-20'
>
  <div class='text-white font-antonio text-[28px] -tracking-[1.05px] leading-[normal] uppercase'>
    The Planets
  </div>
  <button>
    <IconHamburger />
  </button>
</header>
