---
import IconHamburger from '../icons/IconHamburger.astro';
import data from '../utils/data.json';
---

<header
  class='flex px-6 py-4 justify-between items-center self-stretch border-b border-white border-opacity-20 md:flex-col md:px-13 md:pt-8 md:pb-7 md:flex-1 md:gap-10'
>
  <a
    class='text-white font-antonio text-[28px] -tracking-[1.05px] leading-[normal] uppercase'
    href='/'
  >
    The Planets
  </a>
  <button id='menuToggle' class='text-white flex md:hidden' transition:persist>
    <IconHamburger />
  </button>
  <div class='hidden md:flex justify-between items-center self-stretch'>
    {
      data.map((planet) => (
        <a
          href={`/planet/${planet.name}`}
          class='text-white leading-[25px] tracking-[2px] uppercase opacity-75 text-[13px]'
        >
          {planet.name}
        </a>
      ))
    }
  </div>
</header>

<script>
  const menuToggle = document.getElementById('menuToggle')!;
  const menu = document.getElementById('mobileMenu')!;

  document.addEventListener('astro:page-load', () => {
    menuToggle.classList.add('text-white');
    menuToggle.classList.remove('text-[#454559]');
    document.body.classList.remove('menu-open');
    menu.classList.add('hidden');
    menu.classList.remove('flex');
  });

  menuToggle.addEventListener('click', () => {
    document.body.classList.toggle('menu-open');

    if (document.body.classList.contains('menu-open')) {
      menuToggle.classList.add('text-[#454559]');
      menuToggle.classList.remove('text-white');
      menu.classList.remove('hidden');
      menu.classList.add('flex');
    } else {
      menuToggle.classList.add('text-white');
      menuToggle.classList.remove('text-[#454559]');
      menu.classList.add('hidden');
      menu.classList.remove('flex');
    }
  });
</script>
