<header
  class='flex px-6 py-4 justify-between items-center self-stretch border-b border-white border-opacity-20'
>
  <div class='text-white font-antonio text-[28px] -tracking-[1.05px] leading-[normal] uppercase'>
    The Planets
  </div>
  <button>
    <svg width='24' height='18' viewBox='0 0 24 18' fill='none'>
      <rect y='0.5' width='24' height='3' fill='white'></rect>
      <rect y='7.5' width='24' height='3' fill='white'></rect>
      <rect y='14.5' width='24' height='3' fill='white'></rect>
    </svg>
  </button>
</header>
