---
interface Props {
  border: string;
}

const { border } = Astro.props;
---

<div
  id='LinksContainer'
  class='flex items-center justify-center self-stretch border-b border-white border-opacity-20 md:hidden'
>
  <div
    data-state='Overview'
    class='flex flex-1 items-center justify-between gap-11 px-6 *:text-center *:text-xs *:font-medium *:uppercase *:leading-[normal] *:tracking-[1.929px] *:text-white'
  >
    <button
      data-state='Overview'
      class={`flex px-1.5 pt-5 pb-4 justify-center items-center flex-1 self-stretch border-b-4 ${border}`}
    >
      Overview
    </button>
    <button
      data-state='Structure'
      class='flex flex-1 items-center justify-center self-stretch border-b-4 border-transparent px-1.5 pb-4 pt-5 opacity-50'
    >
      Structure
    </button>
    <button
      data-state='Surface'
      class='flex flex-1 items-center justify-center self-stretch border-b-4 border-transparent px-1.5 pb-4 pt-5 opacity-50'
    >
      Surface
    </button>
  </div>
</div>
