---
interface Props {
  border: string;
}

const { border } = Astro.props;
---

<div
  id='LinksContainer'
  class='flex justify-center items-center self-stretch border-b border-white border-opacity-20 md:hidden'
>
  <div
    data-state='Overview'
    class='flex flex-1 px-6 gap-11 justify-between items-center *:text-center *:uppercase *:text-white *:text-xs *:font-medium *:leading-[normal] *:tracking-[1.929px]'
  >
    <button
      data-state='Overview'
      class={`flex px-1.5 pt-5 pb-4 justify-center items-center flex-1 self-stretch border-b-4 ${border}`}
    >
      Overview
    </button>
    <button
      data-state='Structure'
      class='flex px-1.5 pt-5 pb-4 justify-center items-center flex-1 self-stretch border-b-4 border-transparent opacity-50'
    >
      Structure
    </button>
    <button
      data-state='Surface'
      class='flex px-1.5 pt-5 pb-4 justify-center items-center flex-1 self-stretch border-b-4 border-transparent opacity-50'
    >
      Surface
    </button>
  </div>
</div>
