---
import Button from './Button.astro';
---

<main class='bg-dark-blue'>
  <Button name='overview' index='01' active />
  <Button name='internal structure' index='02' />
  <Button name='surface geology' index='03' />
</main>
